<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <% include("include/head.inc"); %>
  <script type="text/javascript" src="js/chart.js"></script>
  <script type="text/javascript" src="js/webmap.js"></script>
  <script type="text/javascript" src="js/qsfp.js"></script>
</head>

<body>
<% include("include/logo.inc"); %>
<% include("include/menugpac.inc"); %> 

<div id="window_body">

<table class="cw"> 
  <tr>
    <td class="cwt" colspan="3">
      <span><% webmapGetParam("PB"); %> [DAC16HL]</span>
      <!-- <span name="webmap" title="INP@0x00003804 T=string L=7"></span>] -->
    </td>
  </tr>
  <tr>
    <td class="cws" style="vertical-align:top">

      <table class="t" align="center">
        <tr>
          <td class="tt" colspan="2">
            <span>SFP Status</span>
          </td>
        </tr>
        <tr>
          <td>
            <table class="cw">
              <tr>
                <td class="tlrb" style="width:100px"></td>
                <td class="tlrb" style="width:40px">SFP0</td>
                <td class="tlrb" style="width:40px">SFP1</td>
                <td class="tlrb" style="width:40px">SFP2</td>
                <td class="tlrb" style="width:40px">SFP3</td>
              </tr>
              <tr>
                <td class="tlr">SFP In</td>
                <td class="tcr" id="qsfp_in_0"></td>
                <td class="tcr" id="qsfp_in_1"></td>
                <td class="tcr" id="qsfp_in_2"></td>
                <td class="tcr" id="qsfp_in_3"></td>
              </tr>
              <tr>
                <td class="tlr">TX Enabled</td>
                <td class="tcr" id="qsfp_tx_ena_0"></td>
                <td class="tcr" id="qsfp_tx_ena_1"></td>
                <td class="tcr" id="qsfp_tx_ena_2"></td>
                <td class="tcr" id="qsfp_tx_ena_3"></td>
              </tr>
              <tr>
                <td class="tlr">TX Fault</td>
                <td class="tcr" id="qsfp_tx_fault_0"></td>
                <td class="tcr" id="qsfp_tx_fault_1"></td>
                <td class="tcr" id="qsfp_tx_fault_2"></td>
                <td class="tcr" id="qsfp_tx_fault_3"></td>
              </tr>
              <tr>
                <td class="tlr">RX Loss</td>
                <td class="tcr" id="qsfp_rx_loss_0"></td>
                <td class="tcr" id="qsfp_rx_loss_1"></td>
                <td class="tcr" id="qsfp_rx_loss_2"></td>
                <td class="tcr" id="qsfp_rx_loss_3"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>	
    </td>
  </tr>
</table>
</div>

<% include("include/wmfoot.inc"); %> 

<!-- Hidden readout fields used by higher layer to adjust display -->
<p>
  <span class="qsfp_rx_loss"  name="webmap" title="INP@<% webmapAddr("BP_QSFP","0x00000000"); %> T=uint32" style="display:none"></span>
  <span class="qsfp_tx_ena"   name="webmap" title="INP@<% webmapAddr("BP_QSFP","0x00000004"); %> T=uint32" style="display:none"></span>
  <span class="qsfp_tx_fault" name="webmap" title="INP@<% webmapAddr("BP_QSFP","0x00000008"); %> T=uint32" style="display:none"></span>
  <span class="qsfp_in"       name="webmap" title="INP@<% webmapAddr("BP_QSFP","0x0000000C"); %> T=uint32" style="display:none"></span>
</p>

<script type="text/javascript">qsfp_init();</script>

<% include("include/foot.inc"); %> 

</body>
</html>
