<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <% include("include/head.inc"); %>
  <script type="text/javascript" src="js/webmap.js"></script>
  <script type="text/javascript" src="js/ren_rffe.js"></script> 
</head>

<body>
<% include("include/logo.inc"); %>
<% include("include/menurbpm.inc"); %> 

<div id="window_body">
<table class="cw">
  <tr>
    <td class="cwt" colspan="3">
      <span><% webmapGetParam("DEVICE"); %> [Re-entrant RFFE]</span>
    </td>
  </tr>
  <tr>
    <td>
      <table class="t">
        <tr>
          <td class="tt" colspan="6">RFFE Board
          </td>
        </tr>
        <tr>
          <td style="vertical-align:top">
            <table class="t">
              <tr>
                <td class="tt" colspan="2">Mux
                </td>
              </tr>
              <tr>
                <td class="tlnb" style="width:40px">X
                </td> 
                <td class="tcell"  style="width:60px">
                  <select class="svx_ctrl1" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002D0"); %> T=uint32"></select>
                </td>
              </tr>
              <tr>
                <td class="tlnb">Y
                </td>
                <td class="tcell">
                  <select class="svy_ctrl1" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002D4"); %> T=uint32"></select>
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align:top">
            <table class="t">
              <tr>
                <td class="tt" colspan="3">Attenuator
                </td>
              </tr>
              <tr>
                <td></td>                
                <td  class="tlnb" style="width:140px">Le</td>
                <td  class="tlnb" style="width:40px">DSA</td>
              </tr>
              <tr>
                <td class="tlnb">REF
                </td>
                <td class="tcnb">
                  <form class="forms"> 
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002C0"); %> T=uint32" value="0">Off
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002C0"); %> T=uint32" value="1">On
                  </form>      
                </td>
                <td class="tcnb">
                  <input  type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002C4"); %> T=uint32">                                
                </td>
              </tr>
              <tr>
                <td  class="tlnb">X/Y
                </td>
                <td class="tcnb">
                  <form class="forms"> 
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002C8"); %> T=uint32" value="0">Off
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002C8"); %> T=uint32" value="1">On
                  </form>      
                </td>
                <td class="tcnb">
                  <input  type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002CC"); %> T=uint32">                                
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align:top">
            <table class="t">
              <tr>
                <td class="tt" colspan="2">Mux
                </td>
              </tr>
              <tr>
                <td class="tlnb" style="width:40px">X
                </td>
                <td class="tcell">
                  <select class="svx_ctrl2" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002D0"); %> T=uint32"></select>
                </td>
              </tr>
              <tr>
                <td class="tlnb" style="width:60px">Y
                </td>
                <td class="tcell">
                  <select class="svy_ctrl2" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x000002D4"); %> T=uint32"></select>
                </td>
              </tr>
            </table>
          </td>
        </tr>  
        <tr>
          <td>
          </td>     
          
          <td style="vertical-align:top">          
            <table class="t" style="width:100%">
              <tr>
                <td class="tt" style="width:40px">Phase</td>
              </tr>
              <tr>
                <td class="tlnb">phi</td>
              </tr>
              <tr>
                <td class="tlnb">&nbsp;</td>
              </tr>              
              <tr>
                <td class="tlnb">DAC [V]</td>
              </tr>
              <tr>
                <td class="tcnb">
                  <input  type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000280"); %> T=float LO=0.0 HI=4.0  P=3">                                
                </td>                                                
              </tr>
            </table>            
          </td>

          <td style="vertical-align:top">          
            <table class="t"  style="width:50%">
              <tr>
                <td class="tt" colspan="4">LO PLL</td>
              </tr>
              <tr>
                <td class="tlnb">
                  PLL Locked
                </td>
                <td class="tcnb" id="lo_pll_locked">
                &nbsp;
                </td>
              </tr>
            </table>            
          </td>
        </tr>
        
        <tr>
          <td style="vertical-align:top">
            <table class="t"  style="width:100%">
              <tr>
                <td class="tt" colspan="2">MREF</td>
              </tr>
              <tr>
                <td id="ecrrfe_ext_ref_good">&nbsp;
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align:top">
            <table class="t"  style="width:80px">
              <tr>
                <td class="tt" colspan="2">Oscillator</td>
              </tr>
              <tr>
                <td class="tcnb">
                  <select class="rffe_osc" name="webmap" title="OUT@<% webmapAddr("VME_P2_ADDR","0x00000000"); %> T=uint32"></select>                
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align:top">
            <table class="t"  >
              <tr>
                <td class="tt" colspan="4">CCLK DDS</td>
              </tr>
              <tr>
                <td class="tlnb">FTW</td>
                <td class="tlnb"></td>
                <td class="tlnb"></td>
                <td class="tlnb">DAC</td>
              </tr>
              <tr>
                <td class="tcnb">
                  <input style="width:70px" type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000250"); %> T=uint32">                                
                </td>
                <td class="tcnb"></td>
                <td class="tcnb"></td>
                <td class="tcnb">
                  <input style="width:70px" type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x0000024C"); %> T=uint32">                                
                </td>
              </tr>
              <tr>
                <td class="tlnb">Reset</td>
                <td class="tlnb">CRF 1</td>
                <td class="tlnb">CRF 2</td>
                <td class="tlnb">Phase [deg]</td>
              </tr>
              <tr>
                <td class="tcnb">
                  <form class="forms"> 
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000240"); %> T=uint32" value="0">Normal<br>
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000240"); %> T=uint32" value="1">Reset
                  </form>      
                </td>                                   
                <td class="tcnb">
                  <input style="width:70px" type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000244"); %> T=uint32">                                
                </td>
                <td class="tcnb">
                  <input style="width:70px" type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000248"); %> T=uint32">                                
                </td>
                <td class="tcnb">
                  <input style="width:70px" type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000254"); %> T=float LO=0 HI=360 P=2">                                
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align:top">
            <table class="t"  >
              <tr>
                <td class="tt" colspan="4">CCLK PLL</td>
              </tr>
              <tr>
                <td class="tlrb">R</td>
                <td class="tlrb">PFD</td>
                <td class="tlb">CP</td>
              </tr>
              <tr>
                <td class="tcrb">
                  <input style="width:30px" type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000260"); %> T=uint32">                                
                </td>
                <td class="tcrb">
                  <form class="forms"> 
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000268"); %> T=uint32" value="0">Negative<br>
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000268"); %> T=uint32" value="1">Positive
                  </form>      
                </td>
                <td class="tcb">
                  <form class="forms"> 
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x0000026C"); %> T=uint32" value="0">Normal<br>
                    <input type="radio" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x0000026C"); %> T=uint32" value="1">Tri-state
                  </form>      
                </td>
              </tr>
              <tr>
                <td class="tlrb">N</td>
                <td class="tlrb">MUXOUT</td>
                <td class="tlb"></td>
              </tr>
              <tr>
                <td class="tcr">
                  <input style="width:30px" type="text" class="num_input" name="webmap" title="OUT@<% webmapAddr("SYS_INIT","0x00000264"); %> T=uint32">                                
                </td>
                <td class="tcr">
                  <select class="cclk_pll_mux" name="webmap" title="OUT@<% webmapAddr("VME_P2_ADDR","0x00000270"); %> T=uint32"></select>                
                </td>
                <td id="cclk_pll_mux_out">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        
      </table>
    </td>
  </tr>  
</table>	
 
</div>

<% include("include/wmfoot.inc"); %> 

<!-- Hidden readout fields used by higher layer to adjust display -->
<p>
  <span class="lo_pll_locked_r"    name="webmap" title="INP@<% webmapAddr("VME_P2_ADDR","0x00000007"); %> T=uint8"  style="display:none">0</span>
  <span class="cclk_pll_mux_out_r" name="webmap" title="INP@<% webmapAddr("I2C_ADDR","0x0000018C"); %> T=uint32"  style="display:none">0</span>
</p>

<script type="text/javascript">ren_rffe_init();</script>

<% include("include/foot.inc"); %> 

</body>
</html>
